In [4]:
import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')

In [ ]:
df.head(10) 
df.info()
df.describe(include='all')

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
df.columns

In [ ]:
df.isna().sum()
df['review_rating'] = df.groupby('category')['review_rating'].transform(lambda x: x.fillna(x.median()))

In [ ]:
label = ['Young Adult', 'Adult', 'Middle Age', 'Senior']
df['age_category'] = pd.qcut(df['age'], q=4, labels=label)

In [ ]:
days = {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30, 
    'Quarterly': 90, 
    'Bi-Weekly': 14, 
    'Annually': 365, 
    'Every 3 Months':90
    }

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(days)

In [ ]:
df[['discount_applied', 'promo_code_used']].head()

In [36]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [ ]:
df.drop('promo_code_used', axis=1)

In [ ]:
pip install pymysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine

# MySQL connection

username = "root"
password = "root"
host = "localhost"
port = "3306"
database = "customer_behavior"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back sample
pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)